#posterbellownav{
    display: flex;
    border: 0px solid red;
    width: 100%;
    padding: 0px;
    
   justify-content: space-evenly;
    background-color: rgb(236,236,237);
  

}
select{
    border: 0px;
    background-color: rgb(236,236,237) ;
}
#posterbellownav>div{
    line-height: 1px;
    padding: 0px;
    border: 0px solid red;
    margin: 0px;
    font-size: small;
   
}
body{
   
}
.slider-box{
    margin-top: 30px;
  overflow: hidden;
}
.slider{
   position: relative;
   width: 100% ;
    animation: 50s slider-box infinite;
    display: flex;
    
}
.slider img{
    width:100%;
    float: left;
}
@keyframes slider-box{
    0%{
        left: 0;
    }
    5%{
        left: 0;
    }
    10%{
        left: -100%;
    }
    15%{
        left: -100%;
    }
    20%{
        left: -200%;
    }
    25%{
        left: -200;
    }
    30%{
        left: -300;
    }
    35%{
        left: -300%;
    }
    40%{
        left: -400%;
    }
    45%{
        left: -400%;
    }
    50%{
        left: -500;
    }
    55%{
        left: -500;
    }
    60%{
        left: -600;
    }
    65%{
        left: -600%;
    }
    70%{
        left: -700%;
    }
    75%{
        left: -700%;
    }
    80%{
        left: -800;
    }
    85%{
        left: -800;
    }
    90%{
        left: -900%;
    }
    95%{
        left: -900%;
    }
    100%{
        left: -1000%;
    }
    
}
.slider-box+div{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.poster0001{
    width: 90%;
    margin: auto;
}
.poster0001>img{
    width: 100%;
}



